<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://developer.garmin.com/downloads/connect-iq/resources.xsd">

    <setting propertyKey="@Properties.InvertColors" title="@Strings.InvertColorsTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.SwapTimeAndDate" title="@Strings.SwapTimeAndDateTitle">
        <settingConfig type="boolean" />
    </setting>

</settings>
